.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: $smokey-black;
  font-weight: bold;

}

@media screen and (min-width: 600px) {
  .footer {
    display: none;
  }
}