.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 5;

  .navbar-left {
    display: flex;
    font-size: 18px;
    align-items: center;

    .profile-image-container {
      margin-right: 1rem;
      clip-path: circle(49%);
      background-color: $yellow-orange;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .profile-image {
        max-width: 2.3rem;
        max-height: 2.3rem;
        clip-path: circle(49%);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      color: $indian-red;
    }
  }
  .navbar-right {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 2rem;
    justify-content: space-between;
    width: 25%;
    font-weight: bold;
    .navbar-link {
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar-right {
      display: none;
    }
  }

  .nav-link {
    padding-right: 2rem;
  }
}