@import './util/index';
@import './App';
@import './components/index';
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-gunmetal;
  line-height: 48px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: $yellow-orange;
  text-decoration: none;
}

.full-screen {
  min-height: 100vh;
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media screen and (max-width: 600px) {
  .big {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .phone {
    display: none;
  }
}