.sampark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $indian-red;
  background-image: $hideout;
  .med-column {
    width: 75%;
    max-width: 800px;
    .shot-container {
      margin-bottom: 1.5rem;
      .shot {
        width: 100%;
        align-self: center;
        border-radius: 10px;
      }
    }

    .section-text {
      text-align: left;
      font-size: 18px;
      color: $ghost-white;
      line-height: 36px;
      .section-title {
        font-size: 36px;
        font-weight: bold;
      }
      .section-byline {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      .section-description {
        font-size: 20px;
      }
    }
  }

}


@media screen and (max-width: 600px) {

}