.title {
  font-family: 'Montserrat', sans-serif;
}

.text {
  font-family: 'Merriweather', serif;
}

.highlighted {
  background-color: $indian-red;
  -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  padding: 1px 1rem;
}