$light-grey: #F3F3F3;
$body-text: #2a3d4c;
$sun-yellow: #FDD910;

// pallette
$indian-red: #D15968;
$yellow-orange: #F4B143;
$pale-aqua: #BFD7EA;
$prussian-blue: #0B3954;
$smokey-black: #0F0D00;
$dark-gunmetal: #1F2326;
$ghost-white: #F9FBFD;
$zomp: #439A86;
$metallic-seaweed: #087E8B;